# Node.js
node_modules/
temp_uploads/
saved_connections.json
npm-debug.log*

# Android / Gradle
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
*/build/

# Do not ignore Gradle wrapper jar
*.jar
!gradle/wrapper/gradle-wrapper.jar

build_artifacts/
